/* Global Styles */
html, body, section, div {
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Layout Styles */
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.left-half {
	grid-column: 1;
	background-color: #1F405F;
}

.left-half-container {
	display: flex;
	justify-content: center;
}

.left-half-container h1 {
	align-self: center;
}

.right-half {
	grid-column: 2;
	background-color: #FEEDCE;
}