/* Global Styles */
html, body, section, div {
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Layout Styles */
.container {
	display: grid;
}

.left-half {
	grid-column: 1;
	background-color: #1F405F;
}

.right-half {
	grid-column: 2;
	background-color: #FEEDCE;
}